*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'yellix', sans-serif;
  background-color: #f5f5f5;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}


.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--blueGreen{
  background-color: #54E8E0;
  color: #11002A;

}
.btn--purple{
  background-color: #6200EE;
  color: #FFFFFF;
}
.btn--white{
  background-color: #FFFFFF;
  color: #11002A;
}
.btn--blueGreen:link,
.btn--blueGreen:visited {
  background-color: #54E8E0;
  color: #11002A;
}

.btn--blueGreen:hover,
.btn--blueGreen:active {
  background-color: #4cd1ca;
}

.btn--purple:link,
.btn--purple:visited {
  background-color: #6200EE;
  color: #FFFFFF;
}

.btn--purple:hover,
.btn--purple:active {
  background-color: #5800d6;
}

.btn--white:link,
.btn--white:visited {
  background-color: #FFFFFF;
  color: #11002A;
}

.btn--white:hover,
.btn--white:active {
  background-color: #e6e6e6;
}




.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

/***********toggle-btn***************/
.toggle-btn {
  position: relative;
  display: inline-block;
  width: 2.7rem;
  height: 1.429rem;
}

.toggle-btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 1.429rem; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.143rem; 
  width: 1.143rem; 
  left: 0.143rem; 
  bottom: 0.143rem; 
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5800d6;
}

input:checked + .slider:before {
  transform: translateX(1.357rem);
}

li{
  list-style: none;
}

.bg-purple{
  background-color: #6200EE;
}
.bg-yellow{
  background-color: #FFD60A;
}
.bg-blueGreen{
  background-color: #54E8E0;
}
/**************************/
/* FOOTER */
/**************************/
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.social-media-item{
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #F3EBFE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-logos{
  display: flex;
  gap: 1rem;

}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  /* Because we want header to be sticky later */
  height: 5.5rem;
  padding: 3rem 8.25rem;
  position: fixed;
 z-index: 2;
 left: 0;
 right: 0;
}

.logo {
  height: 3.063rem;
  width: 10.75rem;
}

/**************************/

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size:1rem;
  font-weight: 500;
  height: 1.375rem;
  line-height: 1.35rem;
  transition: all 0.3s;
  text-transform: capitalize;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #54E8E0;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1rem 2rem;
  width: 9.35rem;
  height: 3.5rem;
  border-radius: 8px;
  color: #11002A !important;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-left: 0.625rem;
  background-color: #54E8E0;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #4cd1ca;
}
.arrow-down{
  margin-right: 8px;
}

.navbar-menu{
  width: 32rem;
  height: 14rem;
  background-color: #F3EBFE;
  padding: 2.5rem 0px 2.5rem 2rem;
  display: flex;
  position: absolute;
  top: 100%;
 display: none;
  
}
.navbar-menu li{
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-transform: capitalize;
}
.navbar-menu li:hover{
  color:#6100DD;
}
.navbar-menu-list li:hover + .imgs-container{
  background-color:#6100DD;
}


.navbar-menu-list , .imgs-container{
  width: 50%;
}
.avatar-1 , .avatar-2 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  
}
.avatar-2{
  margin-top: 30%;
}
.avatar-1{
  margin-top: 20%;
}
.avatar-3{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.imgs-container{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px;
}
.feature-li{
  position: relative;
 
}
.feature-li:hover .navbar-menu{
  display: flex;

}


/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}