@keyframes infinite-scrolling-left {
  0% {
    transform: translateX(0%);
  }
  
  100% {
    transform: translateX(-100%);
  }
}


@keyframes moving{
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }

}
@keyframes moving-up{
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }

}


@keyframes moving-forward {
  0% {
      right: -100%;
      transform: rotate(180deg) scale(0.6);
  }
  100% {
      right: 0;
      transform: rotate(0deg) scale(1);
  }
}

@keyframes moving-backward {
  0% {
      right: 0;
      transform: rotate(0deg) scale(1);
  }
  100% {
      right: -100%;
      transform: rotate(180deg) scale(0.6);
  }
}
@keyframes moving-boxes-forward {
  0% {
      transform:translateX(-200%);
  }
  100% {
      transform:translateX(0%);
  }
}

@keyframes moving-boxes-backward {
  0% {
    transform:translateX(0%);
}
100% {
    transform:translateX(-200%);
   }
}

@keyframes hide{
  0%{
     opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes moving-emailBox-forward {
  0% {
    transform:translateX(0%);
}
100% {
    transform:translateX(200%);
   }
}

@keyframes moving-emailBox-backward {
  0% {
      transform:translateX(200%);
  }
  100% {
      transform:translateX(0%);
  }
}
@keyframes moving-contactHeader-forward {
  0% {
    transform:translateX(0%);
}
100% {
    transform:translateX(-200%);
   }
}

@keyframes moving-contactHeader-backward {
  0% {
      transform:translateX(-200%);
  }
  100% {
      transform:translateX(0%);
  }
}

@keyframes scaleDown{
  0%{
    transform: scale(3);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes scaleUp{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(3);
  }
}

@keyframes text-animation {
  0% {margin-top: -1rem;}
  10% {margin-top: -1rem;}
  20% {margin-top: -12rem;}
  30% {margin-top: -11rem;}
  40% {margin-top: -22.24rem;}
  60% {margin-top: -22.24rem;}
  70% {margin-top: -12rem;}
  80% {margin-top: -11rem;}
  90% {margin-top: -1rem;}
  100% {margin-top: -1rem;}
}
 @keyframes marginLeft {
  0% {margin-left: -6rem;}
  10% {margin-left: -6rem;}
  20% {margin-left: -8rem;}
  30% {margin-left: -8rem;}
  40% {margin-left: -1rem;}
  60% {margin-left: -1rem;}
  70% {margin-left: -7rem;}
  80% {margin-left: -7rem;}
  90% {margin-left: -6rem;}
  100% {margin-left: -6rem;}
}