/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  html {
    /* 9px / 16px  */
    font-size: 76.25%;
  }
  body {
    background-color: goldenrod;
  }
  .avatars-chart-box{
   
    width: 50rem !important;
    overflow: hidden;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 59em) {
 
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
 
  .hero-title {
    font-size: 7.5rem;
    line-height: 8rem;
  }
    /*****animation***/
    .h1-animation {
      height: 7rem;
      top: 10px;
    }
  
    .h1-animation > div > div {
      margin-bottom: 2.81rem;
    }
  
    @keyframes text-animation {
      0% {
        margin-top: 0;
      }
      10% {
        margin-top: 0;
      }
      20% {
        margin-top: -12rem;
      }
      30% {
        margin-top: -11rem;
      }
      40% {
        margin-top: -23rem;
      }
      60% {
        margin-top: -23rem;
      }
      70% {
        margin-top: -12rem;
      }
      80% {
        margin-top: -11rem;
      }
      90% {
        margin-top: 0;
      }
      100% {
        margin-top: 0;
      }
    }
    .h1-span{
      animation: none;
    }
 
  /**************************/
  /* circle section */
  /**************************/
  .circle-section {
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .circle-section-text-content {
    justify-content: center;

    width: 100%;
  }
  .circle-section-title {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  .circle-section-paragraph {
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .circle-section-chart {
    width: 100%;
  }
  .circle-section-chart img {
    width: 100%;
  }
  .circle-overlay-box img ,.circle-box-1 img ,.circle-box-2 img{
    width: 3rem;
    height: 3rem;

  }
  .circle-box-1{
    bottom: 40%;
    left: 2%;
  }
  .circle-box-2{
    left: 5%;
    bottom:10%;
  }
  
  /**************************/
  /* key-features-section */
  /**************************/
  .key-features-section {
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .features-container {
    flex-wrap: wrap;
    gap: 3rem;
  }
  .feature-item {
    width: 40%;
    height: 100%;
  }
  .features-section-header {
    text-align: center;
    gap: 2rem;
  }
  .features-section-header p {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 100%;
  }
  .features-section-header h2 {
    font-size: 4rem;
    line-height: 4rem;
    width: 100%;
  }
.key-features-vector{
  width: 50%;
  bottom: 35%;
  right: 10%;
}
  /**************************/
  /* questions section */
  /**************************/
  .questions-section h2 {
    font-size: 3.5rem;
    line-height: 5rem;
    margin-bottom: 5rem;
  }

  .rating-text-container,
  .stars-text-container,
  .chart-text-container {
    justify-content: center;
    align-items: center;
  }
  .chart-img-container {
    margin: auto;
    width: 40rem;
  }
  .questions-section h3 {
    font-size: 3rem;
  }
  .progress-bar-container img {
    width: 30px !important;
    height: 30px !important;
  }
  #pie-chart {
    width: 150px;
    height: 150px;
  }
  .chart-img-container > div img:nth-child(2) {
    width: 22.69px;
    height: 22.69px;
  }

  .chart-img-container > div img:nth-child(3) {
    width: 32.69px;
    height: 32.69px;
  }

  .chart-img-container > div img:nth-child(4) {
    width: 26px;
    height: 26px;
  }

  .chart-img-container > div img:nth-child(5) {
    width: 13px;
    height: 13px;
  }
  .chart-img-container > div img:nth-child(6) {
    width: 20px;
    height: 20px;
  }
  .avatar-bar {
    width: 20px !important;
  }
  .percentage-part p {
    font-size: 7.29px;
  }
  .percentage-part {
    gap: 2.6rem;
  }
  .bars-text-part p {
    font-size: 6.2px;
  }
  .avatar-bar-percentage {
    width: 100% !important;
  }
  .avatars-chart-box {
    width: 55rem !important;
  }
  .avatar-bar-percentage::after{
    right: -50%;
  }
  .progress-bars-part > div:nth-child(1) .avatar-bar-percentage::after {
    top: 128%;
  }
  .progress-bars-part > div:nth-child(2) .avatar-bar-percentage::after {
    top: 115%;
  }
  .progress-bars-part > div:nth-child(3) .avatar-bar-percentage::after {
    top: 145%;
  }
  .progress-bars-part > div:nth-child(4) .avatar-bar-percentage::after {
    top: 180%;
  }
  .progress-bars-part > div:nth-child(5) .avatar-bar-percentage::after {
    top: 128%;
  }
  .progress-bars-part > div:nth-child(6) .avatar-bar-percentage::after {
    top: 128%;
  }
  .progress-bars-part > div:nth-child(7) .avatar-bar-percentage::after {
    top: 128%;
  }
  .progress-bars-part > div:nth-child(8) .avatar-bar-percentage::after {
    top: 112%;
  } 
  /**************************/
  /* question bank*/
  /**************************/
  /* .questions-bank-header h2{
   
    font-size: 5.5rem;
  
  }
  .slider-headers{
  position: relative;
  height: 300px;
;
}
.survey-language-form{
   height: 450px;
} */
  /**************************/
  /* survey-section*/
  /**************************/
  .survey-text-container{
padding: 1rem;
  }
  .survey-text-container h2{
    font-size: 3.8rem;
    line-height: 5rem;
   
  }
  .survey-text-container p{
    font-size: 1rem;
    line-height: 2rem;
  
  }
  /**************************/
  /* analytics-section*/
  /**************************/
  .analytics-section {
    overflow: hidden;
  }
  .companies-item {
    text-align: center;
  }
  .companies-item img {
    width: 70%;
  }
  .analytics-text-container h2 {
    font-size: 4rem;
    line-height: 6rem;
  }
  .analytics-text-container p {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

/* @media (max-width: 44em) {
  body{
    background-color: red;
  }
  
} */

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
 
  .hero-title {
    font-size: 4.5rem;
    line-height: 6rem;
  }
  .blueGreen-bg{
    
    left: 30%;
  }
  .hero-mashoura-logo {
    position: absolute;
    top: 25%;
    left: 2.625rem;
    height: 35rem;
    width: 50%;
  }
  /*****animation***/
  .h1-animation {
    height: 5.5rem;
    top: 10px;

  }

  .h1-animation > div > div {
    margin-bottom: 2.81rem;
  }

  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -12rem;
    }
    30% {
      margin-top: -12rem;
    }
    40% {
      margin-top: -22rem;
    }
    60% {
      margin-top: -22rem;
    }
    70% {
      margin-top: -12rem;
    }
    80% {
      margin-top: -12rem;
    }
    90% {
      margin-top: 0;
    }
    100% {
      margin-top: 0;
    }
  }
  

  /**************************/
  /* circle section */
  /**************************/
  .circle-section {
    flex-direction: column;
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .circle-section-text-content {
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 100%;
  }
  .circle-section-title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .circle-section-paragraph {
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .circle-section-chart {
    width: 100%;
  }
  .circle-section-chart img {
    width: 100%;
  }
  .circle-box-1 {
    bottom: 40%;
    left: 3%;
  }
  .circle-box-1 img,
  .circle-box-2 img,
  .circle-overlay-box img {
    width: 2rem;
    height: 2rem;
  }
  .circle-box-2 {
    left: 10%;
    bottom: 10%;
  }
  .circle-img {
    top: 10%;
    height: 25rem;
    width: 15rem;
  }
  .circle-overlay-box {
    position: absolute;
    top: 10%;
    left: -5%;
    background-color: #ffffff;
  }
  /**************************/
  /* key-features-section */
  /**************************/
  .key-features-section {
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .features-container {
    flex-direction: column;
    gap: 3rem;
  }
  .feature-item {
    width: 60%;
    height: 70%;
  }
  .features-section-header {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  .features-section-header p {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 100%;
  }
  .features-section-header h2 {
    font-size: 3rem;
    line-height: 4rem;
    width: 100%;
  }
  /**************************/
  /* questions section */
  /**************************/
  .questions-section h2 {
    font-size: 3.5rem;
    line-height: 5rem;
    margin-bottom: 5rem;
  }
  .rating-text-container,
  .rating-chart-container,
  .stars-text-container,
  .chart-text-container,
  .stars-chart-container,
  .chart-container,
  .stars-container,
  .rating-container {
    width: 100%;
  }
  .rating-container,
  .stars-container,
  .chart-container,
  .stars-container {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }
  .rating-text-container,
  .stars-text-container,
  .chart-text-container {
    justify-content: center;
    align-items: center;
  }

  .stars-container {
    flex-direction: column-reverse;
  }

  .chart-img-container {
    margin: auto;
    width: 30rem !important;
  }
  .questions-section h3 {
    font-size: 3rem;
  }

  .progress-bar-container img {
    width: 30px !important;
    height: 30px !important;
  }
  #pie-chart {
    width: 150px;
    height: 150px;
  }
  .chart-img-container > div img:nth-child(2) {
    width: 22.69px;
    height: 22.69px;
  }

  .chart-img-container > div img:nth-child(3) {
    width: 32.69px;
    height: 32.69px;
  }

  .chart-img-container > div img:nth-child(4) {
    width: 26px;
    height: 26px;
  }

  .chart-img-container > div img:nth-child(5) {
    width: 13px;
    height: 13px;
  }
  .chart-img-container > div img:nth-child(6) {
    width: 20px;
    height: 20px;
  }

  .avatars-chart-box{
   
    width: 40rem !important;
    overflow: hidden;
  }
  .avatar-bar {
    width: 15.47px !important;
  }
  .percentage-part p {
    font-size: 7.29px;
  }
  .percentage-part {
    gap: 2.6rem;
  }
  .bars-text-part p {
    font-size: 4.88px;
  }
  .avatar-bar-percentage {
    width: 100% !important;
  }
  /**************************/
  /* question bank*/
  /**************************/

  .questions-bank-header,
  .questions-bank-header h2,
  .questions-bank-header p,
  .question-bank-carousel,
  .questions-bank-form,
  .survey-language-form,
  .question-bank-part,
  .preview-part {
    width: 100% !important;
  }
  .questions-bank-section {
    flex-direction: column;
    gap: 4rem;
    height: 1000px;
  }
  .questions-bank-header h2 {
    font-size: 3rem;
    top: 3%;
  }
  .questions-bank-header {
    text-align: center;
  }
  .questions-bank-header p {
    position: absolute;
    top: 12%;
    font-size: 14px;
    
  }

  .questions-bank-form {
    display: flex;
    width: 40rem !important;
    flex-direction: column;
    gap: 3rem;
   
  }
  .slider-buttons{
    position: absolute;
    top: 80%;
    left: 30%;
  }
  .question-bank-part {
    text-align: center;
  }
  .category-container {
    margin: auto;
  }
  .form-questions-item {
    width: 45% !important;
    padding: 1rem;
  }
  .form-questions-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form-questions-item button {
    padding: 2.42px 10.84px;
    font-size: 12px;
  }
  .preview-part {
    text-align: center;
  }
  .preview-box {
    margin: auto;
  }
  .preview-part button {
    padding: 9px 9px;
    width: 50%;
    margin: auto;
  }
  .survey-language-form {
    display: flex;
    width: 40rem !important;
  }
  .question-bank-carousel {
    flex-direction: column;
  }
  .survey-languages-container {
    height: 300px;
  }
  /**************************/
  /* survey-section*/
  /**************************/
  .survey-section {
    flex-direction: column-reverse;
  }
  .survey-text-container,
  .survey-section img {
    width: 100%;
  }
  .survey-text-container {
    align-items: center;
    gap: 3rem;
    padding: 5rem;
  }
  .survey-text-container h2,
  .survey-text-container p {
    text-align: center;
  }
  .green-box,
  .yellow-box,
  .purple-box {
    display: none;
  }
  /**************************/
  /* analytics-section*/
  /**************************/
  .analytics-section {
    overflow: hidden;
  }
  .companies-item {
    text-align: center;
  }
  .companies-item img {
    width: 70%;
  }
  .analytics-text-container h2 {
    font-size: 4rem;
    line-height: 6rem;
  }
  .analytics-text-container p {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
 
}
